@media (min-width: 768px )  {
  .ctm-rich-text-wrapper , .ctm-image-with-text-wrapper {
/*     margin-top: -50px !important; */
/*     position: relative;
    z-index:9999; */
  }
  .ctm-rich-text-wrapper .wrapper p{
    padding-top: 50px;
  }
  .ctm-style-rich-text p{
    font-size: 24px !important;
  }
}

