#help-hq-manual .help-hq .article-main {
    background: rgb(247, 247, 247);
}
#help-hq-manual .article-header p {
    font-size: 14px;
    margin: 0 0 5px;
}
#help-hq-manual .article-header h1 {
    font-size: 40px;
}
 #help-hq .article-content, #help-hq-manual .article-content {
    padding: 0 40px 40px;
}
@media (min-width: 960px) {
 #help-hq .width,  #help-hq-manual .width {
    padding: 0 40px;
}
#help-hq-manual .article-header p {
    font-size: 16px;
}
}
#help-hq-manual .width {
    margin: 0 auto;
    max-width: 1040px;
    padding: 0 20px;
    width: 100%;
}
#help-hq-manual .help-hq .article-main-card {
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 3%) 0px 2px 4px 0px;
    border: 1px solid rgb(230, 230, 230);
}
#help-hq .article-main-card, #help-hq-manual .article-main-card {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 4px 0 rgb(16 42 67 / 10%);
    box-shadow: 0 4px 4px 0 rgb(16 42 67 / 10%);
}
#help-hq-manual .article-header {
    padding: 50px 40px 30px;
}
#help-hq-manual .article-header {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}